In [1]:
#you may have to do this to start
!pip install pandas-datareader

Requirement already satisfied: pandas-datareader in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (0.9.0)
Requirement already satisfied: lxml in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (from pandas-datareader) (4.6.1)
Requirement already satisfied: requests>=2.19.0 in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (from pandas-datareader) (2.24.0)
Requirement already satisfied: pandas>=0.23 in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (from pandas-datareader) (1.1.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (from pandas>=0.23->pandas-datareader) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.19.5)
Requirement already satisfied: six>=1.5 in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)

In [2]:
# import librarys
import math
import pandas_datareader as web
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [4]:
#get stock pric
fb_df = web.DataReader('FB', data_source='yahoo', start='2019-01-01', end='2021-04-28')
fb_df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-01-02,137.509995,128.559998,128.990005,135.679993,28146200,135.679993
2019-01-03,137.169998,131.119995,134.690002,131.740005,22717900,131.740005
2019-01-04,138.000000,133.750000,134.009995,137.949997,29002100,137.949997
2019-01-07,138.869995,135.910004,137.559998,138.050003,20089300,138.050003
2019-01-08,143.139999,139.539993,139.889999,142.529999,26263800,142.529999
...,...,...,...,...,...,...
2021-04-22,302.920013,296.040009,301.329987,296.519989,16375400,296.519989
2021-04-23,302.589996,297.149994,298.760010,301.130005,17536800,301.130005
2021-04-26,305.799988,301.559998,303.339996,303.040009,16172600,303.040009
2021-04-27,305.339996,301.109985,304.279999,303.570007,15309300,303.570007
2021-04-28,310.920013,305.369995,307.359985,307.100006,33907200,307.100006

In [5]:
fb_df.columns = ['FB High', 'FB Low', 'FB Open', 'FB Close', 'FB Volume', 'FB Adj. Close']

In [6]:
fb_df.head()

,FB High,FB Low,FB Open,FB Close,FB Volume,FB Adj. Close
Date,,,,,,
2019-01-02,137.509995,128.559998,128.990005,135.679993,28146200,135.679993
2019-01-03,137.169998,131.119995,134.690002,131.740005,22717900,131.740005
2019-01-04,138.000000,133.750000,134.009995,137.949997,29002100,137.949997
2019-01-07,138.869995,135.910004,137.559998,138.050003,20089300,138.050003
2019-01-08,143.139999,139.539993,139.889999,142.529999,26263800,142.529999

In [8]:
aapl_df = web.DataReader('AAPL', data_source='yahoo', start='2019-01-01', end='2021-04-28')
aapl_df.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2019-01-02  39.712502  38.557499  38.722500  39.480000  148158800.0  38.505024
2019-01-03  36.430000  35.500000  35.994999  35.547501  365248800.0  34.669640
2019-01-04  37.137501  35.950001  36.132500  37.064999  234428400.0  36.149662
2019-01-07  37.207500  36.474998  37.174999  36.982498  219111200.0  36.069202
2019-01-08  37.955002  37.130001  37.389999  37.687500  164101200.0  36.756794

In [9]:
aapl_df.columns = ['AAPL High', 'AAPL Low', 'AAPL Open', 'AAPL Close', 'AAPL Volume', 'AAPL Adj. Close']
aapl_df.head()

,AAPL High,AAPL Low,AAPL Open,AAPL Close,AAPL Volume,AAPL Adj. Close
Date,,,,,,
2019-01-02,39.712502,38.557499,38.722500,39.480000,148158800.0,38.505024
2019-01-03,36.430000,35.500000,35.994999,35.547501,365248800.0,34.669640
2019-01-04,37.137501,35.950001,36.132500,37.064999,234428400.0,36.149662
2019-01-07,37.207500,36.474998,37.174999,36.982498,219111200.0,36.069202
2019-01-08,37.955002,37.130001,37.389999,37.687500,164101200.0,36.756794

In [22]:
# Create the output file (CSV).
output_data_file = "ABNB.csv"
# Export the City_Data into a CSV.
df.to_csv(output_data_file, index_label="STOCK_TICKER")