In [1]:
#you may have to do this to start
!pip install pandas-datareader

Requirement already satisfied: pandas-datareader in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (0.9.0)
Requirement already satisfied: lxml in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (from pandas-datareader) (4.6.1)
Requirement already satisfied: requests>=2.19.0 in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (from pandas-datareader) (2.24.0)
Requirement already satisfied: pandas>=0.23 in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (from pandas-datareader) (1.1.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (from pandas>=0.23->pandas-datareader) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.19.5)
Requirement already satisfied: six>=1.5 in c:\users\perry\anaconda3\envs\pythondata\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)

In [33]:
# import librarys
import math
import pandas_datareader as web
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [34]:
#get stock pric
fb_df = web.DataReader('FB', data_source='yahoo', start='2019-01-01', end='2021-04-28')
fb_df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-01-02,137.509995,128.559998,128.990005,135.679993,28146200,135.679993
2019-01-03,137.169998,131.119995,134.690002,131.740005,22717900,131.740005
2019-01-04,138.000000,133.750000,134.009995,137.949997,29002100,137.949997
2019-01-07,138.869995,135.910004,137.559998,138.050003,20089300,138.050003
2019-01-08,143.139999,139.539993,139.889999,142.529999,26263800,142.529999
...,...,...,...,...,...,...
2021-04-22,302.920013,296.040009,301.329987,296.519989,16375400,296.519989
2021-04-23,302.589996,297.149994,298.760010,301.130005,17536800,301.130005
2021-04-26,305.799988,301.559998,303.339996,303.040009,16172600,303.040009
2021-04-27,305.339996,301.109985,304.279999,303.570007,15309300,303.570007
2021-04-28,310.920013,305.369995,307.359985,307.100006,33907200,307.100006

In [35]:
fb_df.columns = ['FB High', 'FB Low', 'FB Open', 'FB Close', 'FB Volume', 'FB Adj. Close']

In [36]:
fb_df.head()

,FB High,FB Low,FB Open,FB Close,FB Volume,FB Adj. Close
Date,,,,,,
2019-01-02,137.509995,128.559998,128.990005,135.679993,28146200,135.679993
2019-01-03,137.169998,131.119995,134.690002,131.740005,22717900,131.740005
2019-01-04,138.000000,133.750000,134.009995,137.949997,29002100,137.949997
2019-01-07,138.869995,135.910004,137.559998,138.050003,20089300,138.050003
2019-01-08,143.139999,139.539993,139.889999,142.529999,26263800,142.529999

In [37]:
aapl_df = web.DataReader('AAPL', data_source='yahoo', start='2019-01-01', end='2021-04-28')
aapl_df.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2019-01-02  39.712502  38.557499  38.722500  39.480000  148158800.0  38.505024
2019-01-03  36.430000  35.500000  35.994999  35.547501  365248800.0  34.669640
2019-01-04  37.137501  35.950001  36.132500  37.064999  234428400.0  36.149662
2019-01-07  37.207500  36.474998  37.174999  36.982498  219111200.0  36.069202
2019-01-08  37.955002  37.130001  37.389999  37.687500  164101200.0  36.756794

In [38]:
aapl_df.columns = ['AAPL High', 'AAPL Low', 'AAPL Open', 'AAPL Close', 'AAPL Volume', 'AAPL Adj. Close']
aapl_df

,AAPL High,AAPL Low,AAPL Open,AAPL Close,AAPL Volume,AAPL Adj. Close
Date,,,,,,
2019-01-02,39.712502,38.557499,38.722500,39.480000,148158800.0,38.505024
2019-01-03,36.430000,35.500000,35.994999,35.547501,365248800.0,34.669640
2019-01-04,37.137501,35.950001,36.132500,37.064999,234428400.0,36.149662
2019-01-07,37.207500,36.474998,37.174999,36.982498,219111200.0,36.069202
2019-01-08,37.955002,37.130001,37.389999,37.687500,164101200.0,36.756794
...,...,...,...,...,...,...
2021-04-22,134.149994,131.410004,133.039993,131.940002,84566500.0,131.940002
2021-04-23,135.119995,132.160004,132.160004,134.320007,78657500.0,134.320007
2021-04-26,135.059998,133.559998,134.830002,134.720001,66905100.0,134.720001
2021-04-27,135.410004,134.110001,135.009995,134.389999,66015800.0,134.389999
2021-04-28,135.020004,133.080002,134.309998,133.580002,107760100.0,133.580002

In [39]:
msft_df = web.DataReader('MSFT', data_source='yahoo', start='2019-01-01', end='2021-04-28')
msft_df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-01-02,101.750000,98.940002,99.550003,101.120003,35329300.0,98.375481
2019-01-03,100.190002,97.199997,100.099998,97.400002,42579100.0,94.756454
2019-01-04,102.510002,98.930000,99.720001,101.930000,44060600.0,99.163513
2019-01-07,103.269997,100.980003,101.639999,102.059998,35656100.0,99.289970
2019-01-08,103.970001,101.709999,103.040001,102.800003,31514400.0,100.009888

In [40]:
msft_df.columns = ['MSFT High', 'MSFT Low', 'MSFT Open', 'MSFT Close', 'MSFT Volume', 'MSFT Adj. Close']
msft_df

,MSFT High,MSFT Low,MSFT Open,MSFT Close,MSFT Volume,MSFT Adj. Close
Date,,,,,,
2019-01-02,101.750000,98.940002,99.550003,101.120003,35329300.0,98.375481
2019-01-03,100.190002,97.199997,100.099998,97.400002,42579100.0,94.756454
2019-01-04,102.510002,98.930000,99.720001,101.930000,44060600.0,99.163513
2019-01-07,103.269997,100.980003,101.639999,102.059998,35656100.0,99.289970
2019-01-08,103.970001,101.709999,103.040001,102.800003,31514400.0,100.009888
...,...,...,...,...,...,...
2021-04-22,261.779999,255.639999,260.209991,257.170013,25606200.0,257.170013
2021-04-23,261.510010,257.269989,257.880005,261.149994,21462600.0,261.149994
2021-04-26,262.440002,260.170013,261.660004,261.549988,19763300.0,261.549988
2021-04-27,263.190002,260.119995,261.579987,261.970001,31014200.0,261.970001
2021-04-28,256.540009,252.949997,256.079987,254.559998,46903100.0,254.559998

In [41]:
amzn_df = web.DataReader('AMZN', data_source='yahoo', start='2019-01-01', end='2021-04-28')
amzn_df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-01-02,1553.359985,1460.930054,1465.199951,1539.130005,7983100,1539.130005
2019-01-03,1538.000000,1497.109985,1520.010010,1500.280029,6975600,1500.280029
2019-01-04,1594.000000,1518.310059,1530.000000,1575.390015,9182600,1575.390015
2019-01-07,1634.560059,1589.189941,1602.310059,1629.510010,7993200,1629.510010
2019-01-08,1676.609985,1616.609985,1664.689941,1656.579956,8881400,1656.579956
...,...,...,...,...,...,...
2021-04-22,3372.870117,3301.449951,3371.679932,3309.040039,2580600,3309.040039
2021-04-23,3375.000000,3308.500000,3319.100098,3340.879883,3192800,3340.879883
2021-04-26,3428.449951,3330.939941,3348.000000,3409.000000,4880700,3409.000000
2021-04-27,3460.000000,3398.010010,3443.469971,3417.429932,3827100,3417.429932
2021-04-28,3489.879883,3425.000000,3434.800049,3458.500000,4631900,3458.500000

In [42]:
amzn_df.columns = ['AMZN High', 'AMZN Low', 'AMZN Open', 'AMZN Close', 'AMZN Volume', 'AMZN Adj. Close']

In [43]:
goog_df = web.DataReader('GOOG', data_source='yahoo', start='2019-01-01', end='2021-04-28')

In [44]:
goog_df.columns = ['GOOG High', 'GOOG Low', 'GOOG Open', 'GOOG Close', 'GOOG Volume', 'GOOG Adj. Close']
goog_df.head()

,GOOG High,GOOG Low,GOOG Open,GOOG Close,GOOG Volume,GOOG Adj. Close
Date,,,,,,
2019-01-02,1052.319946,1015.710022,1016.570007,1045.849976,1532600,1045.849976
2019-01-03,1056.979980,1014.070007,1041.000000,1016.059998,1841100,1016.059998
2019-01-04,1070.839966,1027.417969,1032.589966,1070.709961,2093900,1070.709961
2019-01-07,1074.000000,1054.760010,1071.500000,1068.390015,1981900,1068.390015
2019-01-08,1084.560059,1060.530029,1076.109985,1076.280029,1764900,1076.280029

In [47]:
stock_list = [aapl_df, msft_df, amzn_df, goog_df, fb_df]  
for i in range(4):
    if i==0:
        df = stock_list[i]
    next_df = stock_list[i+1]
    df = pd.merge(df, next_df, left_index=True, right_index=True)
    
top_5_v1_df = df
top_5_v1_df

,AAPL High,AAPL Low,AAPL Open,AAPL Close,AAPL Volume,AAPL Adj. Close,MSFT High,MSFT Low,MSFT Open,MSFT Close,...,GOOG Open,GOOG Close,GOOG Volume,GOOG Adj. Close,FB High,FB Low,FB Open,FB Close,FB Volume,FB Adj. Close
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-02,39.712502,38.557499,38.722500,39.480000,148158800.0,38.505024,101.750000,98.940002,99.550003,101.120003,...,1016.570007,1045.849976,1532600,1045.849976,137.509995,128.559998,128.990005,135.679993,28146200,135.679993
2019-01-03,36.430000,35.500000,35.994999,35.547501,365248800.0,34.669640,100.190002,97.199997,100.099998,97.400002,...,1041.000000,1016.059998,1841100,1016.059998,137.169998,131.119995,134.690002,131.740005,22717900,131.740005
2019-01-04,37.137501,35.950001,36.132500,37.064999,234428400.0,36.149662,102.510002,98.930000,99.720001,101.930000,...,1032.589966,1070.709961,2093900,1070.709961,138.000000,133.750000,134.009995,137.949997,29002100,137.949997
2019-01-07,37.207500,36.474998,37.174999,36.982498,219111200.0,36.069202,103.269997,100.980003,101.639999,102.059998,...,1071.500000,1068.390015,1981900,1068.390015,138.869995,135.910004,137.559998,138.050003,20089300,138.050003
2019-01-08,37.955002,37.130001,37.389999,37.687500,164101200.0,36.756794,103.970001,101.709999,103.040001,102.800003,...,1076.109985,1076.280029,1764900,1076.280029,143.139999,139.539993,139.889999,142.529999,26263800,142.529999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-04-22,134.149994,131.410004,133.039993,131.940002,84566500.0,131.940002,261.779999,255.639999,260.209991,257.170013,...,2293.229980,2267.919922,1054800,2267.919922,302.920013,296.040009,301.329987,296.519989,16375400,296.519989
2021-04-23,135.119995,132.160004,132.160004,134.320007,78657500.0,134.320007,261.510010,257.269989,257.880005,261.149994,...,2283.469971,2315.300049,1433500,2315.300049,302.589996,297.149994,298.760010,301.130005,17536800,301.130005
2021-04-26,135.059998,133.559998,134.830002,134.720001,66905100.0,134.720001,262.440002,260.170013,261.660004,261.549988,...,2319.929932,2326.739990,1041700,2326.739990,305.799988,301.559998,303.339996,303.040009,16172600,303.040009
2021-04-27,135.410004,134.110001,135.009995,134.389999,66015800.0,134.389999,263.190002,260.119995,261.579987,261.970001,...,2336.000000,2307.120117,1598600,2307.120117,305.339996,301.109985,304.279999,303.570007,15309300,303.570007
2021-04-28,135.020004,133.080002,134.309998,133.580002,107760100.0,133.580002,256.540009,252.949997,256.079987,254.559998,...,2407.145020,2379.909912,2986400,2379.909912,310.920013,305.369995,307.359985,307.100006,33907200,307.100006

In [48]:
# Create the output file (CSV).
output_data_file = "top_5_v1_df.csv"
# Export the City_Data into a CSV.
df.to_csv(output_data_file, index_label="Date")